@import "mixins";

:focus{
    outline: solid 3px $accent_colour;
}

.cta-details{
    text-decoration: none;
    font-family: $sub_subheading_font;
    color: $main_alt_font_colour;
    border: solid 1px $main_alt_font_colour;
    padding: 0.8rem;
    transition: 0.3s;
    @include hover-white;
}

.cta-contact{
    text-decoration: none;
    font-family: $sub_subheading_font;
    color: $main_font_colour;
    border: solid 1px $main_font_colour;
    padding: 0.8rem;
    transition: 0.3s;
    @include hover-black;
}

.fab{
    color: $main_font_colour;
    font-size: 2rem;
    margin-right: 2px;
    padding: 3px;
    border-radius: 3px;
    transition: 0.3s;
    @include hover-black;
}

@media (min-width: 1400px){
    .cta-details,
    .cta-contact{
        position: relative;
        bottom: -2.5rem;
    }
}

.return-top{
    display: block;
    font-family: $sub_subheading_font;
    color: $main_font_colour;
    width: 120px;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 80px;
    text-decoration: underline;
}

@media (min-width: 780px){
    .return-top{
        margin-top: 6rem;
    }
}

.single-return-top{
    display: block;
    font-family: $sub_subheading_font;
    color: $main_font_colour;
    margin-top: 30px;
    text-decoration: underline;
}

.cta-live{
    @include cta;
    @include hover-white;
}

.single-cta-contact{
    @include cta;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
    &:hover{
        color: $accent_colour;
    }
}

.single-cta-works{
    @include cta;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    background-color: $main_alt_font_colour;
    color: $main_font_colour;
    border: solid 1px $main_font_colour;
    @include hover-black;
}

.project-return-link{
    display: block;
    text-decoration: none;
    font-family: $subheading_font;
    color: $main_font_colour;
    padding: 30px 0px;
}

.scroll-down{
    display: none;
}

.scroll-text{
    display: none;
}

.team-link{
    color: $main_font_colour;
    &:hover{
        color: $accent_colour;
    }
}

@media (min-height: 600px){

    .scroll-text{
        display: block;
        font-family: $sub_subheading_font;
        text-decoration: none;
        color: $main_font_colour;
        position: absolute;
        bottom: 7.5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .scroll-down{
        display: block;
        position: absolute;
        bottom: 6rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .down-arrow span{
        display: block;
        width: 2rem;
        height: 2rem;
        border: solid 2px transparent;
        border-right-color: $main_font_colour;
        border-bottom-color: $main_font_colour;
        animation: arrow-animation 1.5s infinite;
    }

}

.left-arrow span{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border: solid 1px transparent;
    border-right-color: $main_font_colour;
    border-bottom-color: $main_font_colour;
    animation: arrow-animation-left 1.5s infinite;
}

.skip-link {
    font-family: $body_font;
    color: $main_font_colour;
    border: solid 1px $main_font_colour;
    left: 175px;
    padding: 4px;
    position: absolute;
    transform: translateY(-100%);
  }
  
  .skip-link:focus {
    transform: translateY(0%);
    top: 25px;
  }

#primary:focus{
    outline: 0;
}
  

@keyframes arrow-animation {
    0% {
      transform: rotate(45deg) translate(-0.4rem, -0.4rem);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(45deg) translate(0.4rem, 0.4rem);
      opacity: 0;
    }
}

@keyframes arrow-animation-left {
    0% {
      transform: rotate(135deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(135deg) translate(0.4rem, 0.4rem);
      opacity: 0;
    }
}